[Unit]
Description=Door Lock
After=network-online.target

[Service]
Type=simple
User=masaki
Group=masaki
RemainAfterExit=yes
ExecStart=/home/masaki/Door_lock/start.sh
ExecStop=/home/masaki/Door_lock/stop.sh
Restart=always

[Install]
WantedBy=network-online.target